<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="tests/boot.php"
         cacheDirectory=".phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="false"
         failOnRisky="false"
         failOnWarning="false"
         colors="true">
    <testsuites>
        <testsuite name="Icebox Framework Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="display_errors" value="1"/>
        <ini name="display_startup_errors" value="1"/>
        <server name="APP_ENV" value="testing"/>
        <server name="HTTP_HOST" value="localhost"/>
        <server name="SERVER_PORT" value="80"/>
        <server name="REQUEST_METHOD" value="GET"/>
        <server name="HTTPS" value="off"/>
    </php>
</phpunit>
